<div class="row">
    <div class="col">
        <app-available-money></app-available-money>
        <h2>Managers Available</h2>
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let m of managers;trackBy:trackById;sortBy:sortManagers" class="col-2">
                    <div class="card"  style="width: 18rem;"  [ngClass]="{'bg-success text-light':isManagerContracted(m.id)}">
                        <img class="card-img-top" [attr.src]="m.imageSrc" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title">{{m.name}}</h3>
                          <p class="card-text">Business:{{businessName(m.businessId)}}</p>
                          <p class="card-text">Price: {{m.purchasePrice}}$</p>
                          <button mat-flat-button class="btn btn-primary btn-block" (click)="buy(m.id)" [disabled]="!isManageravailable(m.id) || availableMoney<m.purchasePrice">Contract</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>